$colorNegro: #000;
$colorBlanco: #fff;
$colorGris: #373737;
$colorAzul: #546b91;

html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    box-sizing: border-box;
}
.container{
    width: 120rem;
    max-width: 90%;
    margin: 0 auto;
}

/**************generales************/
